<table>
    <tr>
        <td class="add-form">
            <h3>Add Ticket</h3>
            <form #addTicketForm="ngForm" (ngSubmit)="addTicket(addTicketForm)">
                <table>
                    <tr><td><label for="title">Title:</label></td><td><input name="title" id="title" ngModel /> </td></tr>
                    <tr><td><label for="description">Description:</label></td><td><input name="description" id="description" ngModel /> </td></tr>
                    <tr><td><label for="createdby">Created By:</label></td><td><input name="createdby" id="createdby" ngModel /> </td></tr>
                    <tr><td><label for="assignedto">Assigned To:</label></td><td><input name="assignedto" id="assignedto" ngModel /> </td></tr>
                    <tr><td><label for="status">Status</label></td><td><input name="status" id="status" ngModel /> </td></tr>
                    <tr><td><label for="createddate">Created Date:</label></td><td><input name="createddate" id="createddate" ngModel /> </td></tr>
                    <tr><td><label for="resolveddate">Resolved Date:</label></td><td><input name="resolveddate" id="resolveddate" ngModel /> </td></tr>
                    <tr><td><button> Add Ticket</button></td></tr>
                </table>
            </form>
        </td>
        <td>
            <h3>Current Tickets</h3>
                <table class="ticket-list">
                    <tr>
                        <td class="ticket-list-cell">Ticket Number</td>
                        <td class="ticket-list-cell">Ticket Title</td>
                        <td class="ticket-list-cell">Ticket Status</td>
                        <td></td>
                    </tr>
                        <tr *ngFor="let ticket of Tickets, index as i">
                            <td class="ticket-list-cell">{{ticket.id}}</td>
                            <td class="ticket-list-cell">{{ticket.title}}</td>
                            <td class="ticket-list-cell">{{ticket.status}}</td>
                            <td><a [routerLink]="['/ticket-detail',i]">View Details</a>
                            </td>
                    </tr>
                </table>
        </td>
    </tr>
</table>
