<button a routerLink="../../ticket-list">Back to List</button>
<form #updateTicketForm="ngForm" (ngSubmit)="updateTicket(updateTicketForm)">
    <table>
        <tr><td><label for="title">Title:</label></td><td><input name="title" id="title" value={{ticketDetails?.title}} ngModel={{ticketDetails?.title}} /> </td></tr>
        <tr><td><label for="description">Description:</label></td><textarea rows="4" cols="21" name="description" id="description" value={{ticketDetails?.description}} ngModel={{ticketDetails?.description}}></textarea><td></td></tr>
        <tr><td><label for="createdby">Created By:</label></td><td><input name="createdby" id="createdby" value={{ticketDetails?.createdBy}} ngModel={{ticketDetails?.createdBy}}/> </td></tr>
        <tr><td><label for="assignedto">Assigned To:</label></td><td><input name="assignedto" id="assignedto" value={{ticketDetails?.assignedTo}} ngModel={{ticketDetails?.assignedTo}}/> </td></tr>
        <tr><td><label for="status">Status</label></td><td><select name="status" id="status" value = {{ticketDetails?.status}} ngModel = {{ticketDetails}}>
            <option value={{ticketDetails?.status}}>{{ticketDetails?.status}}</option>
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
            </select>
            </td></tr>
        <tr><td><label for="createddate">Created Date:</label></td><td><input name="createddate" id="createddate"  value={{ticketDetails?.createdDate}} ngModel={{ticketDetails?.createdDate}} /> </td></tr>
        <tr><td><label for="resolveddate">Resolved Date:</label></td><td><input name="resolveddate" id="resolveddate" value={{ticketDetails?.resolvedDate}} ngModel={{ticketDetails?.resolvedDate}} /> </td></tr>
        <tr><td><button>Update Ticket</button></td></tr>
    </table>
</form>
<form #addFavoriteForm="ngForm" (ngSubmit)="favoriteTicket(addFavoriteForm)">
    <label for="userId">User ID:</label><input name="userId" id="userId"  ngModel/> 
    <button>Add Favorite</button>
